@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">
    <div class="jumbotron">
        текст-презентация краткая
        <button type="button" class="btn btn-primary">Подробная информация</button>
    </div>
    <table class="table-hover">
        <thead>
        </thead>
        <tr>
            <td>HALOVA</td>
        </tr>
    </table>

</div>